<section id="{{ page.section-type }}" class="container content-section text-center">
<h3>List of Publications</h3>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h5 align="left">
                <font color="MediumSeaGreen">2017 </font>-
                  An Efficient, Scalable and Exact Representation of High-Dimensional Color Information Enabled via de Bruijn Graph Search
                <br>
                <small>
                        Fatemeh Almodaresi, Prashant Pandey, Michael Ferdman, Rob Johnson, and Rob Patro
                        <br>
                        Accepted to RECOMB2019.
                </small>
        </h5>
     </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
	<h5 align="left">
		<font color="MediumSeaGreen">2017 </font>-
		  Pufferfish: A space and time-efficient compacted de Bruijn graph index
 		<br>
		<small>
			Fatemeh Almodaresi, Hirak Sarkar, and Rob Patro
			<br>
			Bioinformatics, 34(13), i169-i177 (appeared in the proceedings of ISMB2018).
		</small>
	</h5>
     </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
	<h5 align="left">
		<font color="MediumSeaGreen">2017 </font>-
		  Mantis: A fast, small, and exact large-scale sequence search index
 		<br>
		<small>
			Prashant Pandey, Fatemeh Almodaresi, Michael A. Bender, Michael Ferdman, Rob Johnson, and Rob Patro
			<br>
			Cell Systems, 7(2), 201-207 (appeared in the proceedings of RECOMB2018).
		</small>
	</h5>
     </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
	<h5 align="left">
		<font color="MediumSeaGreen">2017 </font>-
 		Rainbowfish: A Succinct Colored de Bruijn Graph Representation
		<br>
		<small>
			Fatemeh Almodaresi, Prashant Pandey, and Rob Patro
			<br>
			In 17th International Workshop on Algorithms in Bioinformatics (WABI 2017), volume 88 of Leibniz International Proceedings in Informatics (LIPIcs), pages 18:1–18:15.
		</small>
	</h5>
     </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h5 align="left">
                <font color="MediumSeaGreen">2017 </font>-
                On the distribution of lexical features at multiple levels of analysis
                <br>
                <small>
                        Fatemeh Almodaresi, Lyle Ungar, Vivek Kulkarni, Mohsen Zakeri, Salvatore Giorgi, and H Andrew Schwartz 
                        <br>
			In Proceedings of the 55th Annual Meeting of the Association for Computational Linguistics (Volume 2: Short Papers), volume 2, pages 79–84.
                </small>
        </h5>
     </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
	<h5 align="left">
		<font color="MediumSeaGreen">2017 </font>-
		  Improved data-driven likelihood factorizations for transcript abundance estimation
 		<br>
		<small>
			Mohsen Zakeri, Avi Srivastava, Fatemeh Almodaresi, and Rob Patro
			<br>
			Bioinformatics, 33(14):i142–i151. (appeared in the proceedings of ISMB 2017).
		</small>
	</h5>
     </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
	<h5 align="left">
		<font color="MediumSeaGreen">2013 </font>-
		  The relation between friendship and academic performance in university students: Role of personality
 		<br>
		<small>
			Fatemeh Almodaresi, Naser Mozayani, Mohammadreza Jahed Motlagh, and Meisam Ahmadi
			<br>
			Journal of Technology of Education, 8(2):81–92 (in Persian).
		</small>
	</h5>
     </div>
</div>
</section>
